:root {
   --main-font: Roboto, sans-serif;
   --secondary-font: Raleway, sans-serif;
   --titel-text-color: #212121;
   --primary-text-color:  #757575;
   --secondary-text-color: rgba(255, 255, 255, 0.6);
   --primary-bg-color: #E5E5E5;
   --secondary-bg-color: #F5F4FA;
   --header-bg-color: #FFFFFF;
   --hero-bg-color: #2F303A;
   --footer-bg-color: #2F303A;
   --accent-color: #2196F3;
}


body {
   font-family: var(--main-font);
}
.list {
   list-style: none;
}
.link {
   text-decoration: none;
}
.header {
   background-color: var(--header-bg-color);
}
.contact-bright-bg {
   color: var(--primary-text-color); 
}
.contact-dark-bg {
   color: var(--secondary-text-color);
}
.hero {
   background-color: var(--hero-bg-color);
}
/*.option-button {

}*/


    



/* ======== HEADER ======== */

.logo {
   font-family: Raleway, sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.191;
   letter-spacing: 0.03em;
   color: #000000;
}
.logo-item {
   color: #2196F3;
}

.navigation-list-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.02em;
   color: #212121;
}
.navigation-list .link.current {
   color: #2196F3;
}

.contact-bright-bg {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.02em;
   color: #757575;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-bright-bg:hover,
.contact-bright-bg:focus {
   color: #2196F3;
}

/* ======== END HEADER ======== */




/* ======== HERO-Section 1======== */

.hero-headline {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.364;  
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #FFFFFF;
}
.modal-button {
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: #2196F3;
   
}

/* ======== END HERO-Section1 ======== */



/* ======== FEATURES-Section2 ======== */

.features-list-topic {
   font-weight: bold;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #212121;
}
.features-list-text {
   font-weight: normal;
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: 0.03em;
   color: #757575;   
}
/* ======== END FEATURES-Section2 ======== */



/* ======== ABOUT-Section 3 ======== */

.about-desc {
   font-weight: bold;
   font-size: 36px;
   line-height: 1.167;
   color: #212121;
}
/* ======== END ABOUT-Sectio 3 ======== */


/* ======== TEAM-Section 4 ======== */

.team {
   background-color: var(--secondary-bg-color);
}
.team-staff {
   font-weight: bold;
   font-size: 36px;
   line-height: 1.167;
   letter-spacing: 0.03em;
   color: #212121;
}
.staff-name {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.187;
   letter-spacing: 0.03em;
   color: #212121;
}
.staff-spetiality {
   font-weight: normal;
   font-size: 16px;
   line-height: 1.187;
   letter-spacing: 0.03em;
   color: #757575;
}
/* ======== END TEAM-Sectio 4 ======== */

/* ======== FOOTER ======== */

.logo-footer {
   font-family: Raleway, sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.191;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}
.contact-dark-bg {
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.713;
   letter-spacing: 0.03em;
}
.contact-map {
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.713;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}

.contact-map:hover,
.contact-map:focus,
.contact-dark-bg:hover,
.contact-dark-bg:focus {
   color: #2196F3;
}
.footer {
   background-color: var(--footer-bg-color);
}
/* ======== END FOOTER ======== */



/* ======== PORTFOLIO ======== */
.option-button {
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.625;
   letter-spacing: 0.03em;
   color: #212121;
}
.option-button:hover,
.option-button:focus {
   color: #FFFFFF;
} 



/* ======== END-PORTFOLIO ======== */



/* ======== PROJECTS GALLERY/List ======== */
.projects-name {
   font-weight: bold;
   font-size: 18px;
   line-height: 2.00;
   letter-spacing: 0.06em;
   color: #212121;
}
.projects-typ {
   font-weight: normal;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.03em;
   color: #757575;
}

/* ======== END PROJECTS GALLERY/Section ======== */















